[Desktop Entry]
Name=Pro media panel
Comment=Панель видеопроизводства PRODUCTION MEDIA PANEL
Exec=/home/$USER/bin/pro-media-panel.sh
Icon=multimedia
Terminal=true
Type=Application
Categories=AudioVideo;Utility;