[Desktop Entry]
Name=Pro media panel
Comment=Панель видеопроизводства PRODUCTION MEDIA PANEL
Exec=/usr/local/bin/pro-media-panel.sh
Icon=pro-media-panel
Terminal=true
Type=Application
Categories=AudioVideo;Utility;
